Source: openarc
Section: mail
Priority: optional
Maintainer: Marc Olzheim <marcolz@stack.nl>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 autotools-dev,
 autoconf,
 automake,
 libtool,
 libbsd-dev,
 libidn2-dev,
 libjansson-dev,
 libmilter-dev,
 libssl-dev,
 python3-pytest
Standards-Version: 4.6.2
Homepage: https://github.com/Zlo/OpenARC
Vcs-Browser: https://github.com/Zlo/OpenARC
Vcs-Git: https://github.com/Zlo/OpenARC.git

Package: openarc
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3,
 adduser
Description: Open source self-authenticating RFC5585 ARC identity service
 OpenARC is a community effort to develop and maintain both an open source
 library for adding Authenticated Received Chain (ARC) support to applications
 and an example filter application using the milter protocol.
